<div class="Products">
 <h1>Products</h1>
  <div class="card-grid">
    <div *ngFor="let product of products">
      <div class="card">
        <img [src]="product.images[0]" alt="Product Image" />
        <h2>{{ product.name }}</h2>
        <p>Price: {{ product.price | currency }}</p>
        <p>Category: {{ product.category }}</p>
        <p>Brand: {{ product.brand }}</p>
        <!-- Rating -->
        <div class="rating">
          <span *ngFor="let star of [1, 2, 3, 4, 5]"
                [class.filled]="star <= product.rating">
            ★
          </span>
        </div>

        <!-- Add to Cart button -->
        <button  class="add-to-cart">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
